apiVersion: apps/v1
kind: Deployment
metadata:
  name: tuf
  namespace: {{ private_sigstore_namespace }}
  labels: &labels
    app.kubernetes.io/name: tuf
    app.kubernetes.io/instance: {{ private_sigstore_release_name }}
    app.kubernetes.io/component: trust-metadata
spec:
  replicas: {{ private_sigstore_replicas }}
  selector: {matchLabels: *labels}
  template:
    metadata: {labels: *labels}
    spec:
      automountServiceAccountToken: false
      securityContext: {runAsNonRoot: true, runAsUser: 65534, runAsGroup: 65534, seccompProfile: {type: RuntimeDefault}}
      containers:
        - name: tuf-static
          image: {{ sigstore_lock.images.tuf_static }}
          command: [httpd]
          args: [-f, -p, '8080', -h, /srv/tuf]
          ports: [{name: http, containerPort: 8080}]
          readinessProbe: {httpGet: {path: /root.json, port: http}, periodSeconds: 5}
          livenessProbe: {httpGet: {path: /root.json, port: http}, periodSeconds: 10}
          resources: {{ private_sigstore_resources | to_json }}
          securityContext: {allowPrivilegeEscalation: false, readOnlyRootFilesystem: true, capabilities: {drop: [ALL]}}
          volumeMounts: [{name: tuf, mountPath: /srv/tuf, readOnly: true}]
      volumes:
        - name: tuf
          configMap:
            name: {{ private_sigstore_tuf_metadata_configmap_name }}
            items:
              - {key: 1.root.json, path: 1.root.json}
              - {key: root.json, path: root.json}
              - {key: targets.json, path: targets.json}
              - {key: snapshot.json, path: snapshot.json}
              - {key: timestamp.json, path: timestamp.json}
              - {key: fulcio-ca-chain.pem, path: targets/fulcio-ca-chain.pem}
              - {key: rekor-public-key.pem, path: targets/rekor-public-key.pem}
              - {key: ctlog-public-key.pem, path: targets/ctlog-public-key.pem}
---
apiVersion: v1
kind: Service
metadata:
  name: tuf-server
  namespace: {{ private_sigstore_namespace }}
  labels:
    app.kubernetes.io/name: tuf
    app.kubernetes.io/instance: {{ private_sigstore_release_name }}
    app.kubernetes.io/component: trust-metadata
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: tuf
    app.kubernetes.io/instance: {{ private_sigstore_release_name }}
    app.kubernetes.io/component: trust-metadata
  ports: [{name: http, port: 80, targetPort: http}]
