apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: platform-model-egress
  namespace: {{ platform_application_namespace }}
  labels:
    app.kubernetes.io/part-of: labweaver
    app.kubernetes.io/managed-by: ansible
spec:
  endpointSelector:
    matchExpressions:
      - key: app.kubernetes.io/name
        operator: In
        values: [agent-service]
  egress:
    - toEntities: [host, remote-node]
      toPorts:
        - ports:
            - port: "{{ platform_application_model_service_port | string }}"
              protocol: TCP
{% for hostname in platform_application_model_egress_fqdns %}
    - toFQDNs:
        - matchName: "{{ hostname }}"
      toPorts:
        - ports:
            - port: "{{ platform_application_model_service_port | string }}"
              protocol: TCP
{% endfor %}
    - toEndpoints:
        - matchLabels:
            k8s:io.kubernetes.pod.namespace: {{ platform_application_model_namespace }}
      toPorts:
        - ports:
            - port: "{{ platform_application_model_service_port | string }}"
              protocol: TCP
