---
[crio.runtime.runtimes.{{ sandbox_runtime_name }}]
runtime_path = "{{ sandbox_runtime_install_dir }}/runsc"
runtime_type = "{{ sandbox_runtime_runtime_type }}"
monitor_path = "{{ sandbox_runtime_conmon_path }}"
