[
  {
    "binding": "container-primary-v1",
    "subject": "labweaver.provider.kubernetes.container.v2",
    "providerKind": "container",
    "gatewayNamespace": "access-system",
    "gatewayName": "protected-gateway",
    "gatewaySection": "protected-https",
    "imagePullSecretName": "harbor-course-pull",
    "activePolicyRevision": 1,
    "activeTrustRevision": 1,
    "activeTrustBundleSha256": "d58414fc98a5de1ad8c269290835b407ff258b3f567dab3399fbc2911454a981"
  }
]
