---
# Copy to ignored all.yml and replace every REPLACE_* value before running.
kubernetes_minor: v1.35
kubernetes_patch: v1.35.6
crio_version: 1.35.5
cilium_chart_version: 1.19.5
gateway_api_version: v1.6.0
metallb_chart_version: 0.16.1
local_path_provisioner_version: v0.0.36
nfs_csi_chart_version: 4.13.4
cert_manager_version: v1.21.0
kubevirt_version: v1.8.4
cdi_version: v1.65.0
kyverno_version: v1.18.2
etcd_version: 3.6.6
kubernetes_api_endpoint: REPLACE_KUBERNETES_API_DNS_NAME:6443
kubernetes_api_advertise_address: REPLACE_CONTROL_PLANE_INTERNAL_ADDRESS
kubernetes_pod_cidr: 10.244.0.0/16
kubernetes_service_cidr: 10.96.0.0/12
router_wan_interface: REPLACE_WAN_INTERFACE
router_lan_interface: REPLACE_LAN_INTERFACE
router_lan_address: REPLACE_ROUTER_LAN_ADDRESS
router_lan_cidr: REPLACE_CLUSTER_LAN_CIDR
router_dns_upstreams: []
metallb_pool: REPLACE_METALLB_ADDRESS_RANGE
gateway_vip: REPLACE_GATEWAY_VIP
nfs_server: REPLACE_NFS_SERVER_ADDRESS
nfs_share: /srv/nfs/k8s
local_path_mount: /var/lib/k8s-local-storage
local_path_device: REPLACE_WORKER_DATA_DEVICE
storage_allow_format: false
storage_expected_filesystem: xfs
storage_device_wwn: REPLACE_WORKER_DATA_DEVICE_WWN
storage_device_size_bytes: REPLACE_WORKER_DATA_DEVICE_SIZE_BYTES
storageclass_local_path: local-path
storageclass_nfs_rwx: nfs-rwx
kubevirt_node_label: labweaver.io/kubevirt
kubevirt_cirros_image: quay.io/kubevirt/cirros-container-disk-demo@sha256:e2a45211b1f4a73e40b5356e503786c6dc7b5fb003b5d1d4ffa0a450a3dfdefe
labweaver_namespaces: [labweaver-system, labweaver-data, labweaver-build, labweaver-evaluation, labweaver-demo]
# Kubernetes node names, not IP addresses. These are used only by real storage probes.
verify_rwo_node: REPLACE_WORKER_KUBERNETES_NODE_NAME
verify_nfs_writer_node: REPLACE_FIRST_WORKER_KUBERNETES_NODE_NAME
verify_nfs_reader_node: REPLACE_SECOND_WORKER_KUBERNETES_NODE_NAME
verify_expected_kubernetes_nodes: [REPLACE_CONTROL_PLANE_KUBERNETES_NODE_NAME, REPLACE_FIRST_WORKER_KUBERNETES_NODE_NAME, REPLACE_SECOND_WORKER_KUBERNETES_NODE_NAME]
verify_gateway_hostname: verify.labweaver.internal
harbor_enabled: false
harbor_hostname: REPLACE_HARBOR_INTERNAL_HOSTNAME
harbor_gateway_vip: REPLACE_HARBOR_GATEWAY_VIP
harbor_secret_locator_revision: REPLACE_HARBOR_SECRET_LOCATOR_REVISION
harbor_chart_version: 1.19.1
harbor_app_version: 2.15.1
harbor_namespace: harbor
harbor_release_name: harbor
harbor_project_name: labweaver-system
harbor_chart_archive: /var/lib/labweaver/bundle/harbor-1.19.1.tgz
harbor_kubeconfig_path: /etc/kubernetes/admin.conf
harbor_kubectl_path: /usr/bin/kubectl
harbor_secret_locator_path: /etc/labweaver/harbor/bootstrap.env
harbor_dns_fragment_path: /etc/dnsmasq.d/20-harbor.conf
harbor_ca_secret_name: harbor-internal-ca
harbor_gateway_tls_secret_name: harbor-gateway-tls
harbor_gateway_name: harbor-gateway
harbor_project_name: labweaver-system
harbor_nfs_dynamic_root: /srv/nfs/k8s/dynamic
harbor_manifest_directory: /var/lib/labweaver/harbor/manifests
private_sigstore_enabled: false
private_sigstore_namespace: sigstore-system
private_sigstore_release_name: private-sigstore
private_sigstore_chart_version: 0.6.111
private_sigstore_chart_archive: /var/lib/labweaver/bundle/scaffold-0.6.111.tgz
private_sigstore_internal_dns: REPLACE_SIGSTORE_INTERNAL_DNS.internal
private_sigstore_gateway_vip: REPLACE_PRIVATE_RFC1918_GATEWAY_VIP
private_sigstore_oidc_issuer: https://REPLACE_KEYCLOAK_INTERNAL_DNS/realms/workloads
private_sigstore_oidc_gateway_vip: REPLACE_KEYCLOAK_RFC1918_GATEWAY_VIP
private_sigstore_oidc_audience: labweaver-buildkit
private_sigstore_oidc_client_id: labweaver-buildkit
private_sigstore_oidc_subject_domain: workloads.labweaver.internal
private_sigstore_keycloak_namespace: keycloak-system
private_sigstore_build_namespace: labweaver-build
private_sigstore_allowed_subjects:
  - service-account-labweaver-buildkit!workloads.labweaver.internal
private_sigstore_expected_tuf_root_sha256: sha256:REPLACE_TUF_PUBLIC_ROOT_SHA256
private_sigstore_secret_locator_sha256: sha256:REPLACE_SECRET_LOCATOR_IDENTITY_SHA256
private_sigstore_tls_secret_name: private-sigstore-internal-tls
private_sigstore_fulcio_secret_name: private-sigstore-fulcio-ca
private_sigstore_rekor_secret_name: private-sigstore-rekor-signer
private_sigstore_ctlog_secret_name: private-sigstore-ctlog-signer
private_sigstore_trillian_mysql_secret_name: private-sigstore-trillian-mysql
private_sigstore_rekor_tree_id: REPLACE_PREPROVISIONED_REKOR_TREE_ID
private_sigstore_ctlog_tree_id: REPLACE_PREPROVISIONED_CTLOG_TREE_ID
private_sigstore_storage_class: local-path
private_sigstore_replicas: 2
private_sigstore_rotation_owner: REPLACE_ROTATION_OWNER
private_sigstore_rollback_owner: REPLACE_ROLLBACK_OWNER
private_sigstore_manifest_directory: /var/lib/labweaver/private-sigstore/manifests
private_sigstore_trust_bundle_sha256: sha256:REPLACE_TRUST_BUNDLE_SHA256
private_sigstore_workload_identity_policy_sha256: sha256:REPLACE_WORKLOAD_IDENTITY_POLICY_SHA256
private_sigstore_tuf_root_version: REPLACE_TUF_ROOT_VERSION
identity_foundation_enabled: false
identity_namespace: keycloak-system
identity_name: labweaver-keycloak
identity_hostname: keycloak.labweaver.internal
identity_gateway_vip: 10.20.0.222
identity_realm: workloads
identity_workload_client_id: labweaver-buildkit
identity_workload_audience: labweaver-buildkit
identity_secret_locator_sha256: sha256:REPLACE_IDENTITY_SECRET_LOCATOR_SHA256
identity_storage_class: local-path
identity_postgres_storage: 20Gi
identity_keycloak_replicas: 2
labweaver_run_id: infra-manual-0
labweaver_commit_sha: 0000000000000000000000000000000000000000
