Port 2222
Protocol 2
# Windows OpenSSH host-key discovery advertises these KEX names without support.
KexAlgorithms -sntrup761x25519-sha512@openssh.com,sntrup761x25519-sha512
HostKey /etc/labweaver/secrets/ssh_host_ed25519_key
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitRootLogin no
PubkeyAuthentication yes
AuthorizedKeysFile none
AuthorizedKeysCommand /usr/local/bin/labweaver-gateway-command authorized-keys %u "%t %k" "%C"
AuthorizedKeysCommandUser gateway-auth
AllowTcpForwarding no
PermitOpen none
PermitListen none
GatewayPorts no
PermitTunnel no
X11Forwarding no
AllowAgentForwarding no
PermitUserEnvironment no
PermitUserRC no
AllowUsers gateway
Subsystem sftp /bin/false
MaxAuthTries 2
LoginGraceTime 30
ClientAliveInterval 15
ClientAliveCountMax 4
LogLevel VERBOSE
